* {
  margin: 0;
  padding: 0;
}

/**
* Top style
*/

.main_top {
  display: flex;
  width: 23.5rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/**
* Title style
*/

.main_title {
  max-width: 10rem;
}

/**
* Btn style
*/

.main_addBtn button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 4rem;
  border: none;
  font-size: 2.2rem;
  color: grey;
}
